# **20.06.2024 Class 11**

# **Pandas**
## What does Pandas do?

It's Data Manipulatin Library, it preprocessosing and analyzing data.

In [1]:
# to install Pandas write it in terminal
# pip install pandas 

# to import pandas
import pandas as pd


### Preprocessing Data?
- Cleaning
- Finding Duplicates
- Changing data types : Columns
- Adding and removing columns
- Ploting charts


### Analyzing Data?
- Finding Central Tendencies
- Grouping  the data
- Finding Distribution
- Describing Data
- Pivoting the Data
- Finding correlation between columns.

### Types of datatypes in Pandas?
Series (always 1D array) and Dataframes (always 2D #d array)

> for string in pandas are operated under object data type.

#### Creating Series ?

In [2]:
ls = [45,23,98,46,12,9,1]
s1 = pd.Series(ls)
s1

0    45
1    23
2    98
3    46
4    12
5     9
6     1
dtype: int64

In [3]:
s1.index

RangeIndex(start=0, stop=7, step=1)

In [4]:
s1. values

array([45, 23, 98, 46, 12,  9,  1], dtype=int64)

In [5]:
months = ['Jan', 'Feb', 'Mar', 'Apr', "May"]
s2 = pd.Series(months)
s2

0    Jan
1    Feb
2    Mar
3    Apr
4    May
dtype: object

In [6]:
dateOfMonths = pd.Series([31,28,31,30,31], index = ['Jan', 'Feb', 'Mar', 'Apr', "May"])
dateOfMonths

Jan    31
Feb    28
Mar    31
Apr    30
May    31
dtype: int64

In [7]:
dateOfMonths.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May'], dtype='object')

In [8]:
dateOfMonths.values

array([31, 28, 31, 30, 31], dtype=int64)

In [9]:
s3 = pd.Series([1,2,3,4,5,6])
s3

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [10]:
s3.index = ["A","B","C","D","E","F"]  #type:ignore
s3

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

#### Creating Dataframes?

##### Dictionary of list to Df?

In [11]:
dictOfList = {
    "name":["ram", 'sham', 'sita','gita','ramesh','suresh'],
    'city':['Pune', 'satara', 'auragabad','mumbai','nagpur','kolhapur'],
    'contact':[34553,76575,22433,98779,56455,23334],
    'data_admin':['data_analytics', 'data_science','data_warehousing',
                   'data_admin', 'big_data_analytics','data_engineering']
}

In [12]:
df1 = pd.DataFrame(dictOfList)
df1

     name       city  contact          data_admin
0     ram       Pune    34553      data_analytics
1    sham     satara    76575        data_science
2    sita  auragabad    22433    data_warehousing
3    gita     mumbai    98779          data_admin
4  ramesh     nagpur    56455  big_data_analytics
5  suresh   kolhapur    23334    data_engineering

##### List of Dictiionary to Df?

In [13]:
listOfDict =[
    {'Name':"ram", 'month':'january','sales':56676},
    {'Name': 'sham', 'month':'january', 'sales':54676},
    {'Name':'sita', 'month':'february','sales': 89676}
]

df2 = pd.DataFrame(listOfDict)
df2

   Name     month  sales
0   ram   january  56676
1  sham   january  54676
2  sita  february  89676

## open .csv and .xlsx with pandas?

In [14]:
df4 = pd.read_csv(r'files/csv_file.csv')
df4

   ID    Name   Sales
0   1     Ram  626000
1   2    Sham  567000
2   3    Sita  279000
3   4    Gita  765000
4   5  Ramesh  241000
5   6  Suresh  624000
6   7    Hema  196000
7   8   Rekha  708000
8   9    Jaya  867000
9  10  Sushma  957000

In [15]:
df5 = pd.read_excel(r'files/excel_file.xlsx')
df5

   ID    Name        City Course
0   1     Ram      Mumbai     DA
1   2    Sham        Pune     DS
2   3    Sita      Mumbai     DS
3   4    Gita  Aurangabad     DS
4   5  Ramesh      Nagpur     DA
5   6  Suresh      Satara     DS
6   7    Hema      Satara     DS
7   8   Rekha        Pune     DA
8   9    Jaya  Aurangabad     DA
9  10  Sushma      Nagpur     DA

# Methods of Pandas?

In [17]:
df = pd.read_excel(r"files/SampleSuperstore.xlsx")

c:\Users\Asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

## Head()?
Gives out first 5 rows of df  as output

In [19]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## tail()?
Gives out last 5 rows of df  as output

In [20]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2015-110422,2015-01-21,2015-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,Miami,Florida,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

## sample()?
returns randomly selected rows from dataframe.

In [21]:
df.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
6784,6785,CA-2018-121293,2018-07-25,2018-07-28,Second Class,JC-15775,John Castell,Consumer,Philadelphia,Pennsylvania,19143.0,East,FUR-TA-10001771,Furniture,Tables,"Bush Cubix Conference Tables, Fully Assembled",138.588,1,0.4,-34.6470
6807,6808,CA-2016-128125,2016-03-31,2016-04-05,Standard Class,EB-13705,Ed Braxton,Corporate,Houston,Texas,77095.0,Central,OFF-PA-10000357,Office Supplies,Paper,"White Dual Perf Computer Printout Paper, 2700 ...",98.376,3,0.2,35.6613
6918,6919,CA-2017-105473,2017-04-16,2017-04-18,Second Class,BM-11785,Bryan Mills,Consumer,Seattle,Washington,98115.0,West,OFF-SU-10003567,Office Supplies,Supplies,Stiletto Hand Letter Openers,28.800,3,0.0,0.8640
4560,4561,CA-2016-118871,2016-12-04,2016-12-09,Second Class,HM-14860,Harry Marie,Corporate,Los Angeles,California,90049.0,West,OFF-EN-10003296,Office Supplies,Envelopes,Tyvek Side-Opening Peel & Seel Expanding Envel...,271.440,3,0.0,122.1480
6253,6254,CA-2015-165806,2015-04-07,2015-04-07,Same Day,VM-21685,Valerie Mitchum,Home Office,Marietta,Georgia,30062.0,South,TEC-PH-10004922,Technology,Phones,RCA Visys Integrated PBX 8-Line Router,200.970,3,0.0,50.2425

## info()?
> always count non-values properly

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal Code    9983 non-null   float64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(12)
memory usage: 1.5+ MB

## isna()? 
to find na values column wise

In [30]:
df.isna().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
dtype: int64

## dropna()?
study it's parameters
used to drop rows with "na" values

In [24]:
df.dropna()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2015-110422,2015-01-21,2015-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,Miami,Florida,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2018-121258,2018-02-26,2018-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2018-119914,2018-05-04,2018-05-09,Second Class,CC-12220,Chris Cortes,Consumer,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

## duplicated()
to find duplicated values

In [26]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9989    False
9990    False
9991    False
9992    False
9993    False
Length: 9994, dtype: bool

In [25]:
df.duplicated().sum()

0

## drop()?

In [ ]:
# if 1 column to be droped just provide column name in ""
# if more than 1 column to be droped provide column name in list as shown below
# axis =1 means that we as droping column
# axis = 0 means we droping rows
# inplace = True 
df.drop(['Row ID', 'Order ID', 'Customer ID', 'Product ID'], axis=1, inplace= True)

In [34]:
df.head()

,Order Date,Ship Date,Ship Mode,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2017-11-08,2017-11-11,Second Class,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2017-11-08,2017-11-11,Second Class,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,2017-06-12,2017-06-16,Second Class,Darrin Van Huff,Corporate,Los Angeles,California,90036.0,West,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,2016-10-11,2016-10-18,Standard Class,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,2016-10-11,2016-10-18,Standard Class,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## taking out single column from df?
it let's us apply methods we could apply on a series

In [37]:
df["Customer Name"]

0            Claire Gute
1            Claire Gute
2        Darrin Van Huff
3         Sean O'Donnell
4         Sean O'Donnell
              ...
9989    Tom Boeckenhauer
9990         Dave Brooks
9991         Dave Brooks
9992         Dave Brooks
9993        Chris Cortes
Name: Customer Name, Length: 9994, dtype: object

In [38]:
type(df["Customer Name"])

pandas.core.series.Series

In [48]:
df["Customer Name"].unique()

array(['Claire Gute', 'Darrin Van Huff', "Sean O'Donnell",
       'Brosina Hoffman', 'Andrew Allen', 'Irene Maddox', 'Harold Pawlan',
       'Pete Kriz', 'Alejandro Grove', 'Zuschuss Donatelli', 'Ken Black',
       'Sandra Flanagan', 'Emily Burns', 'Eric Hoffmann',
       'Tracy Blumstein', 'Matt Abelman', 'Gene Hale', 'Steve Nguyen',
       'Linda Cazamias', 'Ruben Ausman', 'Erin Smith', 'Odella Nelson',
       "Patrick O'Donnell", 'Lena Hernandez', 'Darren Powers',
       'Janet Molinari', 'Ted Butterfield', 'Kunst Miller',
       'Paul Stevenson', 'Brendan Sweed', 'Karen Daniels',
       'Henry MacAllister', 'Joel Eaton', 'Ken Brennan',
       'Stewart Carmichael', 'Duane Noonan', 'Julie Creighton',
       'Christopher Schild', 'Paul Gonzalez', 'Gary Mitchum', 'Jim Sink',
       'Karl Braun', 'Roger Barcio', 'Parhena Norris', 'Katherine Ducich',
       'Elpida Rittenbach', 'Rick Bensley', 'Gary Zandusky',
       'Lena Cacioppo', 'Janet Martin', 'Pete Armstrong', 'Cynthia Voltz',
       'Clay Ludtke', 'Ryan Crowe', 'Dave Kipp', 'Greg Guthrie',
       'Steven Cartwright', 'Alan Dominguez', 'Philip Fox',
       'Troy Staebel', 'Lindsay Shagiari', 'Dorothy Wardle',
       'Lena Creighton', 'Jonathan Doherty', 'Sally Hughsby',
       'Sandra Glassco', 'Helen Andreada', 'Maureen Gastineau',
       'Justin Ellison', 'Tamara Willingham', 'Stephanie Phelps',
       'Neil Knudson', 'Dave Brooks', 'Nora Paige', 'Ted Trevino',
       'Eric Murdock', 'Ruben Dartt', 'Max Jones', 'Becky Martin',
       'Chad Sievert', 'Jennifer Braxton', 'Shirley Jackson', 'Jim Kriz',
       'David Kendrick', 'Robert Marley', 'Sally Knutson', 'Frank Merwin',
       'Alice McCarthy', 'Mark Packer', 'Mary Zewe', 'Cassandra Brandow',
       'Valerie Mitchum', 'Fred Hopkins', 'Maria Bertelson',
       'Bruce Stewart', 'Logan Currie', 'Heather Kirkland',
       'Laurel Elliston', 'Joseph Holt', 'Michael Stewart',
       'Victoria Wilson', 'Jonathan Howell', 'Joni Blumstein',
       'David Smith', 'Valerie Dominguez', 'Erin Ashbrook',
       'David Bremer', 'Ken Lonsdale', 'Dianna Wilson',
       'Logan Haushalter', 'Kelly Collister', 'Delfina Latchford',
       'Dan Reichenbach', 'Craig Carreira', 'Dorris liebe',
       'Sean Braxton', 'Roy Collins', 'Alan Hwang', 'Claudia Bergmann',
       'Christine Abelman', 'Kristen Hastings', 'Barry Blumstein',
       'Andrew Gjertsen', "Jas O'Carroll", 'Alan Haines', 'Nick Zandusky',
       'Kelly Lampkin', 'Alan Schoenberger', 'Corey Roper',
       'Shahid Hopkins', 'Ben Peterman', 'Thomas Seio', 'Andy Gerbode',
       'Sung Pak', 'Nathan Mautz', 'Frank Atkinson', 'Grace Kelly',
       'Don Jones', "Patrick O'Brill", 'John Lucas', 'Doug Bickford',
       'Alyssa Crouse', 'Clay Cheatham', 'Tamara Dahlen',
       'Adam Bellavance', 'Jeremy Lonsdale', 'Victoria Brennan',
       'Katrina Willman', 'Julia Dunbar', 'Michael Kennedy',
       'Guy Thornton', 'Arthur Gainer', 'Muhammed MacIntyre',
       'Allen Rosenblatt', 'Russell Applegate', 'Alejandro Savely',
       'Laura Armstrong', 'Denny Ordway', 'Dean Katz', 'Nathan Gelder',
       'Mike Vittorini', 'Jack Garza', 'Bart Pistole', 'Victor Preis',
       'Saphhira Shifley', 'Anna Gayman', 'Luke Foster',
       'Roy Franzsisch', 'Keith Herrera', 'Kimberly Carter',
       'Caroline Jumper', 'Philip Brown', 'Michael Paige',
       'Natalie Fritzler', 'Shirley Daniels', 'Ken Heidel', 'Ross Baird',
       'Mike Kennedy', 'Philisse Overcash', 'Brenda Bowman',
       'Troy Blackwell', 'Raymond Buch', 'Ed Braxton', 'Sanjit Chand',
       'Tanja Norvell', 'Joni Sundaresam', 'Maya Herman', 'Jeremy Pistek',
       'Jeremy Ellison', 'John Grady', 'Xylona Preis', 'Erin Mull',
       'Michelle Tran', 'Sue Ann Reed', 'Carl Weiss', 'Astrea Jones',
       'Sonia Sunley', "Rose O'Brian", 'Maribeth Dona', 'Maribeth Yedwab',
       'Christopher Martinez', 'Lynn Smith', 'Bradley Nguyen',
       'Dean Braden', 'Matt Connell', 'Brian Dahlen', 'Patricia Hirasaki',
       'Mike Gockenbach', 'Karen Bern', 'Jasper Cacioppo', 'Rob Lucas',
       'Allen Armold', 'Emily Phan', 'Darren Koutras', 'Bradley Drucker',
       'Liz MacKendrick', 'Adrian Shami', 'Bill Donatelli', 'Greg Tran',
       'Ashley Jarboe', 'Olvera Toch', 'Liz Pelletier', 'Cynthia Arntzen',
       'Jeremy Farry', 'Frank Preis', 'Ellis Ballard',
       'Jennifer Ferguson', 'Sarah Foster', 'Trudy Glocke',
       'Carlos Soltero', 'Charles Crestani', 'Dianna Vittorini',
       'Bruce Degenhardt', 'Zuschuss Carroll', 'Melanie Seite',
       'Lena Radford', 'Theone Pippenger', 'Chloris Kastensmidt',
       'Alan Shonely', 'Andrew Roberts', 'Nona Balk', 'Giulietta Dortch',
       'Clytie Kelty', 'Nat Gilpin', 'Christina Anderson',
       'Sylvia Foulston', "Meg O'Connel", 'Annie Thurman', 'Fred McMath',
       'Denny Joy', 'Max Engle', 'Justin Deggeller', 'John Lee',
       'Sean Christensen', 'Chuck Clark', 'Anthony Rawles',
       'Steven Roelle', 'Craig Reiter', 'Eugene Hildebrand',
       'Sibella Parks', 'Tiffany House', 'Resi Plking', 'Rob Beeghly',
       'Carol Darley', 'Doug Jacobs', 'Grant Thornton', 'Michael Chen',
       'Ralph Arnett', 'Naresj Patel', 'Alan Barnes', 'Jesus Ocampo',
       'Jay Kimmel', 'Brad Norvell', 'David Philippe', 'Tracy Hopkins',
       'Arthur Prichep', 'Roland Schwarz', 'Seth Vernon',
       'Christine Kargatis', 'Ross DeVincentis', 'Mathew Reese',
       'Steve Chapman', 'Jay Fein', 'Emily Grady', 'Darrin Sayre',
       'Phillina Ober', 'Sung Shariari', 'Peter Bhler', 'Roland Fjeld',
       'Yoseph Carroll', 'Debra Catini', 'Christine Phan',
       'Barry Franzsisch', 'Lisa Hazard', 'Chris Selesnick',
       'Anthony Johnson', 'Benjamin Venier', 'Dan Lawera', 'Bryan Mills',
       'Liz Thompson', 'Joe Kamberova', 'Erica Smith', 'Rick Hansen',
       'Carlos Daly', 'Helen Wasserman', 'Mike Caudle', 'Gary McGarr',
       'Pauline Johnson', 'Bart Watters', 'Toby Ritter',
       'Patrick Gardner', 'James Lanier', 'Brian Moss', 'Eudokia Martin',
       'Art Foster', 'Guy Armstrong', 'Cyma Kinney', 'Dave Poirier',
       'Berenike Kampe', 'Sanjit Jacobs', 'Chuck Magee', 'Anthony Jacobs',
       'Linda Southworth', 'Guy Phonely', 'Paul Knutson',
       'Sally Matthias', 'Anthony Garverick', 'Peter McVee',
       'Lauren Leatherbury', 'Jill Stevenson', 'Ed Ludwig',
       'Pamela Coakley', 'Hunter Lopez', 'Maribeth Schnelling',
       'George Bell', 'Justin Ritter', 'Bill Eplett', 'Sample Company A',
       'Rob Williams', 'Sanjit Engle', 'Adam Hart', 'Jessica Myrick',
       'Joel Jenkins', 'Ralph Kennedy', 'Catherine Glotzbach',
       'Rachel Payne', 'Karen Carlisle', 'Katherine Hughes',
       'Greg Hansen', 'Scott Williamson', 'Joseph Airdo', 'Daniel Lacy',
       'Lindsay Williams', 'Thomas Brumley', 'Bryan Spruell',
       'Robert Waldorf', 'Tracy Zic', 'Ann Steele', 'Toby Swindell',
       'Sara Luxemburg', 'Mitch Willingham', 'Rob Dowd', 'Ryan Akin',
       'Meg Tillman', 'Vivek Gonzalez', 'John Stevenson', 'Kalyca Meade',
       'Hallie Redmond', 'Deanra Eno', 'Allen Goldenen',
       'Jennifer Jackson', 'Jennifer Halladay', 'Robert Dilbeck',
       "Mary O'Rourke", 'Noel Staavos', 'Deirdre Greer', 'Nicole Fjeld',
       'Matthew Grinstein', 'Theresa Swint', 'Brian DeCherney',
       'Charles McCrossin', 'Skye Norling', 'Erica Hernandez',
       'Frank Olsen', 'Maurice Satty', 'Chad Cunningham', 'Don Weiss',
       'Bill Tyler', 'Craig Yedwab', 'Brad Thomas', 'Penelope Sewall',
       'Paul Van Hugh', 'Neoma Murray', 'Dionis Lloyd',
       'Christine Sundaresam', 'Frank Hawley', 'Nat Carroll',
       'Alex Avila', 'Larry Tron', 'Anne Pryor', 'Paul MacIntyre',
       'Alyssa Tate', 'Cathy Armstrong', 'Harold Ryan', 'Bradley Talbott',
       'Larry Hughes', 'Steven Ward', 'Stefania Perrino', 'Ben Ferrer',
       'Kean Thornton', 'Brooke Gillingham', 'Greg Matthias',
       'Eva Jacobs', 'Nora Preis', 'Mick Hernandez', 'Jocasta Rupert',
       'Suzanne McNair', 'Chris Cortes', 'Phillip Flathmann',
       'Dan Campbell', 'Bryan Davis', 'Gene McClure', 'Todd Boyes',
       'Justin Hirsh', 'Erica Bern', 'Quincy Jones', 'Tracy Collins',
       'Chuck Sachs', 'Henry Goldwyn', 'Laurel Workman', 'Matt Collins',
       'Liz Preis', 'Evan Bailliet', 'George Zrebassa', 'Cathy Prescott',
       'Frank Gastineau', 'Lisa DeCherney', 'Alejandro Ballentine',
       'Michael Nguyen', 'Jim Radford', 'Jamie Frazer', 'Chad McGuire',
       'Aaron Smayling', 'Beth Paige', 'Natalie DeCherney',
       'Larry Blacks', 'Kean Takahito', 'Harry Marie', 'Ann Blume',
       'Sam Zeldin', 'Michael Granlund', 'Julie Kriz', 'Paul Prost',
       'Yana Sorensen', 'Katherine Murray', 'Adrian Barton',
       'Helen Abelman', 'Beth Thompson', 'Stuart Van', 'Rick Wilson',
       'Damala Kotsonis', 'Shui Tom', 'Michael Moore', 'Pauline Webber',
       'Shaun Chance', 'Thais Sissman', 'Mark Cousins', 'Maria Etezadi',
       'Nicole Hansen', 'Mick Brown', 'Keith Dawkins',
       'Katherine Nockton', 'Nora Pelletier', 'Cindy Stewart',
       'Maxwell Schwartz', 'Corinna Mitchell', 'Corey-Lock',
       'Todd Sumrall', 'Jane Waco', 'John Dryer', 'Pauline Chand',
       'Andy Reiter', 'Arianne Irving', 'Tom Boeckenhauer', 'Paul Lucas',
       'Gary Hwang', 'Mike Pelletier', 'Jim Mitchum', 'Carl Ludwig',
       'Deborah Brumfield', 'Ivan Gibson', 'Bobby Odegard', 'Aimee Bixby',
       'Julia West', 'Edward Becker', 'Sheri Gordon', 'Charlotte Melton',
       'Anthony Witt', 'Mick Crebagga', 'Tonja Turnell', 'Vivek Grady',
       'Muhammed Yedwab', 'Rick Duston', 'Dennis Pardue',
       'Marina Lichtenstein', 'Jenna Caffey', 'James Galang',
       'Marc Crier', 'Natalie Webber', 'Toby Braunhardt', 'Bill Stewart',
       'Hilary Holden', 'Christina DeMoss', 'Thea Hendricks',
       'Michelle Moray', 'Neola Schneider', 'Robert Barroso',
       'Shaun Weien', 'Eric Barreto', 'Pamela Stobb', 'Herbert Flentye',
       'Henia Zydlo', 'Cynthia Delaney', 'Jamie Kunitz', 'Filia McAdams',
       'Emily Ducich', 'Dianna Arnett', 'Joni Wasserman', 'Raymond Messe',
       'Max Ludwig', 'Craig Carroll', 'Jim Epp', 'Roy Phan',
       'Thomas Boland', 'Brad Eason', 'Jill Fjeld', 'Phillip Breyer',
       'Brian Thompson', 'Janet Lee', 'Cathy Hwang', 'Neil Ducich',
       'Barbara Fisher', 'Katharine Harms', 'Giulietta Weimer',
       'Noah Childs', 'Michelle Ellison', 'Benjamin Patterson',
       'John Castell', 'Adam Shillingsburg', 'Amy Cox',
       'Michael Dominguez', 'Duane Benoit', 'Erica Hackney',
       'Edward Hooks', 'Scot Coram', 'Joe Elijah', 'Ann Chong',
       'Joy Daniels', 'Christy Brittain', 'Joy Smith', 'Luke Weiss',
       'Stuart Calhoun', 'Anne McFarland', 'Rick Huthwaite',
       'Carol Triggs', 'Matt Collister', 'Corey Catlett',
       'Kelly Andreada', 'Tamara Chand', 'Bart Folk', 'Magdelene Morse',
       'Adrian Hane', 'Ben Wallace', 'Scot Wooten', 'Brian Stugart',
       'Randy Ferguson', 'William Brown', 'Trudy Brown', 'Art Ferguson',
       'Richard Bierner', 'Karen Ferguson', 'John Huston', 'Ivan Liston',
       'Patrick Bzostek', 'Rob Haberlin', 'Arthur Wiediger',
       'Maris LaWare', 'Dorothy Badders', 'Matt Hagelstein',
       'Dennis Kane', 'Bobby Trafton', 'Denny Blanton', 'Toby Gnade',
       'Barry Franz', 'Justin MacKendrick', 'Maria Zettner',
       'Mitch Webber', 'Mark Van Huff', 'Sean Miller', 'Tom Prescott',
       'Jim Karlsson', 'Patrick Jones', 'Ricardo Sperren',
       'Susan Vittorini', 'Becky Castell', 'Elizabeth Moffitt',
       'Brendan Murry', 'Kristina Nunn', 'Kelly Williams', 'Scott Cohen',
       'Christina VanderZanden', 'Speros Goranitis', 'Tamara Manning',
       'Eleni McCrary', 'Michelle Lonsdale', 'Clay Rozendal',
       'Annie Zypern', 'Pierre Wener', 'Shahid Collister',
       'Carlos Meador', 'Greg Maxwell', 'Tim Brockman', 'John Murray',
       'Sonia Cooley', 'Luke Schmidt', 'Ralph Ritter', 'Daniel Byrd',
       'Thomas Thornton', 'Lori Olson', 'Ken Dana', 'Nicole Brennan',
       'Brian Derr', 'Chris McAfee', 'Edward Nazzal', 'Kean Nguyen',
       'Bill Overfelt', 'Aleksandra Gannaway', 'Matthew Clasen',
       'Tom Ashbrook', 'Jason Fortune-', 'Tim Taslimi', 'Sarah Bern',
       'Craig Leslie', 'Hunter Glantz', 'Nancy Lomonaco', 'Rick Reed',
       'Toby Carlisle', 'Stewart Visinsky', 'Bobby Elias',
       'Steve Carroll', 'David Flashing', 'Fred Harton', 'MaryBeth Skach',
       'Ritsa Hightower', 'George Ashbrook', 'Julie Prescott',
       'Dean percer', 'Michael Oakman', 'Denise Leinenbach',
       'Michelle Huthwaite', 'Daniel Raglin', 'Darrin Martin',
       'Carol Adams', 'Anna Chung', 'Denise Monton', 'Vicky Freymann',
       'Christopher Conant', 'Beth Fritzler', 'Harry Greene', 'Becky Pak',
       'Eugene Moren', 'Michelle Arnett', 'Andy Yotov',
       'Giulietta Baptist', 'Julia Barnett', 'Michael Grace',
       'Sharelle Roach', 'Joy Bell-', 'Dario Medina', 'Tony Chapman',
       'Sean Wendt', 'Richard Eichhorn', 'Benjamin Farhat',
       'Katrina Bavinger', 'Jason Gross', 'Erin Creighton',
       'Eugene Barchas', 'Jennifer Patt', 'Cari Sayre', 'Gary Hansen',
       'Pete Takahito', 'Jack Lebron', 'Aaron Hawkins', 'Cindy Chapman',
       'David Wiener', 'Sarah Jordon', 'Bruce Geld', 'Laurel Beltran',
       'Candace McMahon', 'Evan Henry', 'Tony Sayre', 'Patrick Ryan',
       'Liz Carlisle', 'Cindy Schnelling', 'Dave Hallsten',
       "Jack O'Briant", 'Anna Hberlin', 'Heather Jas', 'Mark Hamilton',
       "Russell D'Ascenzo", 'Sam Craven', 'Stephanie Ulpright',
       'Fred Chung', 'Randy Bradley', 'Nick Crebassa', 'Darren Budd',
       'Maureen Fritzler', 'Roland Murray', 'Vivian Mathis', 'Ed Jacobs',
       'Nathan Cano', 'Lycoris Saunders', 'Katrina Edelman',
       'Duane Huffman', 'Peter Fuller', 'Valerie Takahito',
       'Maureen Gnade', 'Susan Pistek', 'Charles Sheldon', 'Dana Kaydos',
       'Khloe Miller', 'Anna Andreadi', 'Dorothy Dickinson', 'Amy Hunt',
       'Tracy Poddar', 'Eileen Kiefer', 'Cyra Reiten', 'Susan Gilcrest',
       'Angele Hood', 'Neil Franzsisch', 'Bill Shonely',
       'Stefanie Holloman', 'Roger Demir', 'Alex Grayson',
       'Georgia Rosenberg', 'Vivek Sundaresam', 'Tony Molinari',
       'Tom Stivers', 'Dennis Bolton', 'Nick Radford', 'Cari Schnelling',
       'Monica Federle', 'Liz Willingham', 'Alex Russell', 'Karen Seio',
       'Aaron Bergman', 'Lisa Ryan', 'Shahid Shariari', 'Jill Matthias',
       'Jason Klamczynski', 'Don Miller', 'Muhammed Lee', 'Marc Harrigan',
       'Frank Carlisle', 'Thea Hudgings', 'Juliana Krohn', 'Sarah Brown',
       'Barry Gonzalez', 'Barry Weirich', 'Mitch Gastineau',
       "Doug O'Connell", 'Barry Pond', 'Trudy Schmidt', 'Evan Minnotte',
       "Anthony O'Donnell", 'Mark Haberlin', 'Shirley Schmidt',
       'Lela Donovan', 'Victoria Pisteka', 'Theresa Coyne',
       'Ionia McGrath', 'Anemone Ratner', 'Craig Molinari',
       'Fred Wasserman', 'Lindsay Castell', 'Harold Engle',
       'Brendan Dodson', 'Harold Dahlen', 'Carl Jackson', 'Roy Skaria',
       'Sung Chung', 'Ricardo Emerson', 'Susan MacKendrick'], dtype=object)

In [53]:
df['Customer Name'].value_counts()

Customer Name
William Brown          37
John Lee               34
Matt Abelman           34
Paul Prost             34
Chloris Kastensmidt    32
                       ..
Lela Donovan            1
Anthony O'Donnell       1
Carl Jackson            1
Ricardo Emerson         1
Jocasta Rupert          1
Name: count, Length: 793, dtype: int64